<table>
  <tr>
    <th>ID</th>
    <td>{{ page.id }}</td>
  </tr>
  <tr>
    <th>Name</th>
    <td>{{ page.title }}</td>
  </tr>
  <tr>
    <th>slug</th>
    <td>{{ page.slug }}</td>
  </tr>
  <tr>
    <th>Website</th>
    <td>{{ page.website_url }}</td>
  </tr>
  <tr>
    <th>Category</th>
    <td>{{ page.category }}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{ page.contact_email }}</td>
  </tr>
  <tr>
    <th>Mailing list</th>
    <td>{{ page.mailing_list }}</td>
  </tr>
  <tr>
    <th>IRC channel</th>
    <td>{{ page.irc_channel }}</td>
  </tr>
  <tr>
    <th>Tagline</th>
    <td>{{ page.tagline }}</td>
  </tr>
  <tr>
    <th>Precis</th>
    <td>{{ page.precis }}</td>
  </tr>
  <tr>
    <th>Description</th>
    <td>{{ page.description }}</td>
  </tr>
  <tr>
    <th>Tags</th>
    <td>{{ page.tags }}</td>
  </tr>
  <tr>
    <th>Primary Open Source License</th>
    <td>{{ page.primary_open_source_license }}</td>
  </tr>
  <tr>
    <th>Image URL</th>
    <td>{{ page.image_url }}</td>
  </tr>
  <tr>
    <th>BG color</th>
    <td>{{ page.image_bg_color }}</td>
  </tr>
  <tr>
    <th>G+</th>
    <td>{{ page.gplus_url }}</td>
  </tr>
  <tr>
    <th>Twitter</th>
    <td>{{ page.twitter_url }}</td>
  </tr>
  <tr>
    <th>Blog</th>
    <td>{{ page.blog_url }}</td>
  </tr>
  <tr>
    <th>Application instructions</th>
    <td>{{ page.application_instructions }}</td>
  </tr>
  <tr>
    <th>Topic tags</th>
    <td>{{ page.topic_tags }}</td>
  </tr>
  <tr>
    <th>Technology tags</th>
    <td>{{ page.technology_tags }}</td>
  </tr>
  <tr>
    <th>Proposal tags</th>
    <td>{{ page.proposal_tags }}</td>
  </tr>
  <tr>
    <th>Ideas list</th>
    <td>{{ page.ideas_list }}</td>
  </tr>
  <tr>
    <th>Contact method</th>
    <td>{{ page.contact_method }}</td>
  </tr>
</table>
